@use '../../../styles/vars.scss' as *;

.article {
  line-height: 1.5;
  border: 2px solid $gray;
  border-radius: 0.2em;
  &__img {
    max-width: 100%;
    height: auto;
  }
  &__body {
    padding: 1.5em;
    .article__title {
      font-size: 1.6rem;
      font-weight: 500;
    }
  }
}